<div class="row">
		<div class="col">
			<div class="card card-mtpe mb-3">
				<div class="card-header bg-light d-sm-flex justify-content-between p-1">
					<h5 class="mb-0"><small><i class="fa fa-user" aria-hidden="true"></i> Registro de Atención del Trabajador</small></h5>
				</div>
				<div class="card-body">
						<div class="consultas-laborales mb-2">
					<form>
						<div class="form-row mb-2">
							<div class="col-md">
							<div class="form-group row">
								<label for="inpTicket" class="col-sm-3 col-form-label">Ticket</label>
								<div class="col-sm-9">
									<input type="text" class="form-control form-control-sm" id="inpTicket" name="atencion.vNumticket" [(ngModel)]="atencion.vNumticket" placeholder="" style="text-transform: uppercase">
								</div>
							</div>
							</div>
							<div class="col-md">
							<div class="form-group row">
								<label for="inpLocal" class="col-sm-3 col-form-label">Local</label>
								<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm" id="inpLocal" value="LIMA CENTRO" readonly>
								</div>
							</div>
							</div>
							<div class="col-md">
							<div class="form-group row">
								<label for="inpFecha" class="col-sm-3 col-form-label">Fecha</label>
								<div class="col-sm-9">
								<!-- <input type="date" class="form-control form-control-sm" id="inpFecha" [(ngModel)]="fechoy"> -->
								<!-- <input type="date" class="form-control form-control-sm" id="inpFecha"> -->
									<p style="padding-top: 5px;"><span ng-non-bindable>{{ fechoy | date: 'dd/MM/yyyy' }}</span></p>
								</div>
							</div>
							</div>
						</div>
					</form>
					<div class="card">
						<div class="card-header bg-secondary text-white d-sm-flex justify-content-between p-1">
							<h6 class="mb-0"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Acciones Adoptadas</h6>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<p-dataTable [value]="listAccionAdop" [editable]="true" [(selection)]="selectListAccionAdop" (onRowSelect)="saveAccion($event)" (onRowUnselect)="deleteAccion($event)" scrollable="true" scrollHeight="220px" dataKey="id">
										<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
										<p-column [style]="{'width':'50px', 'text-align':'center'}" header="Item">
											<ng-template let-i="rowIndex" pTemplate="body">
												<span style="text-align:center">{{i+1}}</span>
											</ng-template>
										</p-column>
										<p-column field="vDesaccdop" header="Descripción"></p-column>
										<!-- <p-column [style]="{'text-align':'left'}" field="observacion" header="Observación" [editable]="true"></p-column> -->
										<p-column [style]="{'text-align':'left'}" [hidden]="true" field="check" header="Checked"></p-column>
										<ng-template pTemplate="emptymessage">
												No se han encontrado registros
										</ng-template>
									</p-dataTable>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<p-confirmDialog header="Registrar Atencion" icon="fa fa-question-circle" #cd width="425">
		<p-footer>
			<button type="button" pButton icon="fa-close" label="Cancelar" (click)="cd.reject()"></button>
			<button type="button" pButton icon="fa-check" label="Aceptar" (click)="cd.accept()"></button>
		</p-footer>
	</p-confirmDialog>